/* Variables*/
/* Colores generales*/

$header_background_color:black;
$header_color_texto:white;

$main_background_color:ehite;
$main_color_texto:black;

$footer_background_color:black;
$footer_color_texto:white;
 

/*imagenes*/
/*imaganes carousel principal*/


$hero_carousel_imagen1 : "../img/carousel1.webp";
$hero_carousel_imagen2 : "../img/carousel2.webp";
$hero_carousel_imagen3 : "../img/carousel3.webp";

